* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Encode Sans', sans-serif;
  }

  nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 12vh; /*original: 8vh*/
      background-color: gray;
  }

  .logo {
      color: white;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
  }

  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 40%;
  }

  .nav-links li {
      list-style: none;
  }

  .nav-links a {
      color: white;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 14px;
      /* font-weight: bold; */
  }

  .nav-links a:hover {
      color: red;
      font-weight: bold;
      font-size: 16px;
  }

  .menu {
      display: none;
      cursor: pointer;
  }

  .menu div {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px;
      transition: all 0.3s ease;
  }

  @media screen and (max-width:1024px) { /*revisar tamaño*/
      .nav-links {
          width: 50%;
      }
  }

  @media screen and (max-width:768px) { /*revisar tamaño*/
    body {
        overflow: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh; /*original: 8vh*/
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%; /*tamaño del menú*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }

      .nav-links li {
          opacity: 1;
      }

      .menu {
          display: block;
      }
  }

  .nav-active {
      transform: translateX(0%);
  }

  @keyframes navLinkFade {
      from {
          opacity: 0;
          transform: translateX(50px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
      opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);  
}