
/* HEADER
header {
  background-color: #333;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  width: 100%; 
  position: sticky;
  z-index: 1;
}
.header-left {
  float: left;
}
.header-name {
  display: block; 
  color: white;
  text-align: center; 
  padding: 14px 20px;
  text-decoration: none; 
}
*/

/* ABOUT SECTION - OPCIÓN 1*/
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 20px;
    display: block;
  }
  .profile-image {
  flex: 50%;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  display: block;
  float:left;
  }
  .profile-info {
  flex: 50%;
  padding: 20px;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  .button {
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    color: #777;
  }
  
  
  
  
  
  
  
  /* ABOUT SECTION - OPCIÓN 2*/
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 20px;
    display: block;
  }
  .portrait {
    padding: 0px 20px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    float:left;
  }
  .title {
    padding: 0px;
    margin: 0;
    text-align: left;
    display: block;
  }
  .socialmedia {
    padding: 0px;
    margin: 0;
    display: block;
    font-size: 30px;
  }
  .socialmedia li {
    list-style: none;
    display: inline-block;
    padding: 20px;
  }
  .socialmedia li a {
    color: #777;
  }
  .socialmedia a:hover {
    color: black;
  }
  .button-style a {
    text-decoration: none;
  }
  .button-style a:hover {
    background-color: #ddd; /* Gray background color */
    color: black;
  }
  
  
  
  
  /* ABOUT SECTION - OPCIÓN 3*/
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 20px;
    display: block;
  }
  .photo-background {
    background-image: url(.../images/h1_hero.jpg);
    padding: 0px;
    margin: 0;
    display: block;
  }
  