body {
  font-family: 'Open Sans', sans-serif; /* Check this later! */
  color: #454d66; /*cambiar color */
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}



/* HEADER */
header {
  background-color: #333;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  width: 100%; 
  position: sticky;
  z-index: 1;
}
#header-left {
  float: left;
}
#header-name {
  display: block; 
  color: white;
  text-align: center; 
  padding: 14px 20px;
  text-decoration: none; 
}


/* NAVIGATION BAR */
.navbar {
  overflow: hidden; 
  background-color: #333; 
  float: right;
}
.navbar a { /* Style the navigation bar links */
  float: right; /* Make sure that the links stay side-by-side */
  display: block; 
  color: white; 
  text-align: center; 
  padding: 8px 20px; 
  text-decoration: none; 
}
.navbar ul { /*Style the list */
  width: 100%;
}
.navbar li { /*Style the elements on the list */
  list-style: none;
  display: inline-block;
  padding: 20px;
}
/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 36px;
  display: none;
  float: none;
}
@media (max-width:930px) {
  .toggle {
    display:block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
  }
  .active {
    display: block;
  }
}


/* ABOUT SECTION */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 20px;
  display: block;
}
.profile-image {
flex: 50%;
padding: 20px;
text-align: center;
max-width: 100%;
max-height: 100%;
display: block;
float:left;
}
.profile-info {
flex: 50%;
padding: 20px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  background-color: #777;
  padding: 20px 0px;
  margin: 0;
  color: white;
}