* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Encode Sans', sans-serif;
  color: white;
}

h2, h3 {
  color: gray; /*CAMBIAR COLOR*/
}

p {
  color: gray; 
}

button {
  font-family: 'Encode Sans', sans-serif;
}

button a:link {
  text-decoration: none;
}

button a:visited {
  text-decoration: none;
}



/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh; /*original: 8vh*/
  background-color: gray;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  /* font-weight: bold; */
}

.nav-links a:hover {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px) { /*revisar tamaño*/
  .nav-links {
      width: 50%;
  }
}

@media screen and (max-width:768px) { /*revisar tamaño*/
.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh; /*Si se cambia a 60 funciona bien, pero se ve el fondo abajo*/
    top: 12vh; /*original: 8vh*/
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /*tamaño del menú*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
      opacity: 1;
  }

  .menu {
      display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);  
}



/* MAIN CONTENT */
.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
  padding: 0px 0px 0px 80px;
}

.intro-text {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, gray, blue); /* Letras con degradé de color */
  -webkit-background-clip: text; /* Letras con degradé de color */
  -webkit-text-fill-color: transparent; /* Letras con degradé de color */
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: gray;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-about {
  border: 2px solid gray;
  background: transparent;
  color: gray;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-about a:visited {
  color: gray;
}

.cta-contact {
  background: gray;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}

.cta-contact a:visited {
  color: white;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  /* height: 60vh; *//*AJUSTAR CUANDO ESTÉ LA IMAGEN REAL*/
}

.cover-img {
  height: 100%;
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column-reverse;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  .intro-text h2 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .cover img {
    /* height: 80%; */ /*AJUSTAR CUANDO ESTÉ LA IMAGEN REAL*/
    padding: 10px 0px 0px 0px;
  }
}



/* BIOGRAPHY SECTION */
.biography {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.biography-description {
  width: 50%;
  padding: 0px 40px 0px 40px;
}

.biography-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.biography-description p {
  font-size: 16px;
  padding-bottom: 20px 0px;
}

@media screen and (max-width: 1024px) {
  .biography {
    flex-direction: column;
    
    align-items: center;
  }
  .biography-description {
    width: 100%;
    margin-top: 5vh;
    padding: 0px 0px 0px 0px;
  }
  .biography-description h3 {
    font-size: 24px;
  }
  .biography-description p {
    font-size: 16px;
    padding: 0px 0px 30px;
  }
}

/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  background-color: gray;
  padding: 20px 0px;
  margin: 0;
}

footer p {
  color: white;
}
